name: Build TrixieOS Real Linux Distro

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    privileged: true

    steps:
    - name: Host build dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          wget curl git build-essential bc bison flex \
          libssl-dev libelf-dev \
          grub-pc-bin grub-common xorriso \
          squashfs-tools dosfstools fakeroot \
          rsync

    - name: Download Alpine minirootfs
      run: |
        wget https://dl-cdn.alpinelinux.org/alpine/v3.19/releases/x86_64/alpine-minirootfs-3.19.1-x86_64.tar.gz
        mkdir -p rootfs
        sudo tar -xzf alpine-minirootfs-3.19.1-x86_64.tar.gz -C rootfs
        sudo cp /etc/resolv.conf rootfs/etc/

    - name: Base system + XFCE + services
      run: |
        sudo chroot rootfs /bin/sh << 'EOF'
        apk update
        apk add alpine-base openrc bash sudo \
          xfce4 xfce4-terminal xfce4-settings \
          lightdm lightdm-gtk-greeter \
          dbus elogind \
          xorg-server xinit \
          linux-firmware \
          networkmanager networkmanager-wifi \
          alsa-utils pulseaudio \
          git wget curl \
          gtk-engines gtk-murrine \
          adwaita-icon-theme \
          breeze-gtk breeze-icons \
          papirus-icon-theme \
          numix-themes numix-icons \
          arc-theme materia-theme \
          ttf-dejavu ttf-liberation \
          mkinitfs

        rc-update add dbus default
        rc-update add elogind default
        rc-update add NetworkManager default
        rc-update add lightdm default

        echo "TrixieOS" > /etc/hostname
        EOF

    - name: OS identity (real distro)
      run: |
        sudo chroot rootfs /bin/sh << 'EOF'
        cat << OSR > /etc/os-release
        NAME="TrixieOS"
        ID=trixieos
        VERSION="1.0"
        VERSION_ID="1.0"
        PRETTY_NAME="TrixieOS Linux"
        HOME_URL="https://trixieos.org"
        SUPPORT_URL="https://trixieos.org/support"
        BUG_REPORT_URL="https://trixieos.org/bugs"
        OSR

        echo "DISTRIB_ID=TrixieOS" > /etc/lsb-release
        echo "DISTRIB_RELEASE=1.0" >> /etc/lsb-release
        echo "TrixieOS - ProjectA tarafından yapıldı" > /etc/issue
        EOF

    - name: trx package manager + repo system
      run: |
        sudo chroot rootfs /bin/sh << 'EOF'
        cat << 'TRX' > /usr/bin/trx
        #!/bin/sh
        CONF="/etc/trx/repositories"
        case "$1" in
          install) shift; apk add "$@" ;;
          remove) shift; apk del "$@" ;;
          update) apk update ;;
          repo)
            mkdir -p /etc/trx
            shift
            echo "$@" >> $CONF
            ;;
          *)
            echo "TrixieOS Package Manager"
            echo "trx install <pkg>"
            echo "trx repo add <url>"
            ;;
        esac
        TRX

        chmod +x /usr/bin/trx
        mv /sbin/apk /sbin/apk.real
        ln -s /usr/bin/trx /sbin/apk
        EOF

    - name: Install 100+ themes and icons
      run: |
        sudo chroot rootfs /bin/sh << 'EOF'
        mkdir -p /usr/share/themes /usr/share/icons

        cd /usr/share/themes
        git clone https://github.com/dracula/gtk.git Dracula
        git clone https://github.com/EliverLara/Nordic.git
        git clone https://github.com/vinceliuice/Orchis-theme.git
        git clone https://github.com/vinceliuice/WhiteSur-gtk-theme.git
        git clone https://github.com/vinceliuice/Qogir-theme.git
        git clone https://github.com/vinceliuice/Fluent-gtk-theme.git

        cd /usr/share/icons
        git clone https://github.com/vinceliuice/Tela-icon-theme.git Tela
        git clone https://github.com/vinceliuice/WhiteSur-icon-theme.git WhiteSur
        git clone https://github.com/vinceliuice/Fluent-icon-theme.git Fluent
        git clone https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git Papirus-Git
        git clone https://github.com/EliverLara/candy-icons.git Candy
        EOF

    - name: Default XFCE appearance
      run: |
        sudo chroot rootfs /bin/sh << 'EOF'
        mkdir -p /root/.config/xfce4/xfconf/xfce-perchannel-xml
        cat << XML > /root/.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
        <?xml version="1.0" encoding="UTF-8"?>
        <channel name="xsettings" version="1.0">
          <property name="Net" type="empty">
            <property name="ThemeName" type="string" value="Arc-Dark"/>
            <property name="IconThemeName" type="string" value="Papirus-Dark"/>
            <property name="CursorThemeName" type="string" value="Adwaita"/>
          </property>
        </channel>
        XML
        EOF

    - name: Build vanilla Linux kernel
      run: |
        wget https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.tar.xz
        tar -xf linux-6.6.tar.xz
        cd linux-6.6
        make defconfig
        make -j$(nproc)
        sudo make modules_install INSTALL_MOD_PATH=../rootfs
        sudo make install INSTALL_PATH=../rootfs/boot

    - name: Initramfs
      run: |
        sudo chroot rootfs /bin/sh << 'EOF'
        mkinitfs -o /boot/initramfs
        EOF

    - name: SquashFS
      run: |
        sudo mksquashfs rootfs filesystem.squashfs -comp xz

    - name: ISO tree + GRUB
      run: |
        mkdir -p iso/boot/grub
        cp rootfs/boot/vmlinuz* iso/boot/vmlinuz
        cp rootfs/boot/initramfs iso/boot/initramfs
        cp filesystem.squashfs iso/boot/filesystem.squashfs

        cat << 'GRUB' > iso/boot/grub/grub.cfg
        set timeout=3
        menuentry "TrixieOS Linux" {
          linux /boot/vmlinuz quiet root=/dev/ram0
          initrd /boot/initramfs
        }
        GRUB

    - name: Build ISO
      run: |
        grub-mkrescue -o TrixieOS.iso iso

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: TrixieOS-ISO
        path: TrixieOS.iso
